.THIS.c-container {
    border: 1px solid #d8dde6;
}

.THIS .custom-box {
    text-align: center;
    background-color:#f4f6f9;
    padding: 6px;
    border: 1px solid #d8dde6;
    border-radius: 5px;
    margin-left: 10px;
}
